<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>授权确认页面</title>
</head>
<link href="/oauth-server/favicon-20190918085337900.ico" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/oauth-server/css/style.css">
<script type="text/javascript" src="/oauth-server/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/oauth-server/js/vector.js"></script>
<body>
<div id="container">
    <div id="output">
        <div class="containerT">
            <div id="div1">
                <h1 style="color: #E9686B">授权确认</h1>
                <div id="div2">
                    <sapn>确认授权</sapn>
                    <span style="color: #888888" th:text="${client}">客户端</span>
                    <sapn>访问您的资源吗？</sapn>
                </div>
                <div id="div3">
                    <form id="confirmationForm" name="confirmationForm" action="/oauth-server/oauth/authorize" method="post">
                        <input name="user_oauth_approval" value="true" type="hidden"/>
                        <input id="i1" class="tableReport-button" value="授权"/>
                    </form>
                    <form id="denialForm" name="denialForm" action="/oauth-server/oauth/authorize" method="post">
                        <input name="user_oauth_approval" value="false" type="hidden"/>
                        <input id="i2" class="tableReport-button" value="拒绝"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登陆背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
    $(document).ready(function(){
        $("#i1").click(function () {
            $("#confirmationForm").submit();
        });
        $("#i2").click(function () {
            $("#denialForm").submit();
        });
    });
</script>
</html>